/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (min-device-width: 834px) and (max-device-width: 1112px) 
and (-webkit-min-device-pixel-ratio: 2)  { 
/* iPad Pro 10.5*/
    [class*="col-"] {
        width: 100%;
    }
    body {
        font-size: 16px;
    }
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 28px;
    }

    p {
        font-size: 16px;
    }
    .hello {
        font-size: 22px;
    }
    .mobile-navbar {
        margin-top: 10px;
        padding-top: 10px;
        display: inline;
        visibility: visible;
    }
    .logo-only-mobile {
        visibility: visible;
        display: inline;
        float: right;
    }
    .logo-only-mobile h2{
        margin-left: 10px;
        font-size: 24px;
        color: black;

    }
    .logo-navbar{
        margin: 10px;
        margin-top: 18px;
        visibility: visible;
        display: inline;
        float: left;
    }
    .container-fluid {
        padding-right: 10px;
        padding-left: 10px;
    }
    .title-bar {
        margin-top: 10px;
        padding-top: 10px;
    }
    .about-project h6 {
        width: 100%;
        font-size: 18px;
    }
    .navbar-fixed-top {
        display: none;
    }
    .person {
        margin-right: 10px;
        margin-top: 20px;
    }
    .window-upper-bar {
        font-size: 16px;
    }

    .scroller, .scroll-down {
        display: none;
    }
    .timeline-window {
        width: 75%;
    }
    .timeline-btn {
        margin: 5px;
    }
    .awesome-team {
        flex-direction: column;
        padding-right: 10px;
        padding-left: 10px;
    }
    .clients {
        padding-left: 10px;
        padding-right: 10px;
    }
    #footer-company {
        padding-right: 10px;
        padding-left: 10px;
    }
    #home {
        padding-top: 10px;
    }
    #our-team-mobile {
        display: none;
    }
    #our-team-desktop {
        display: block;
    }
}

@media only screen 
and (min-device-width : 768px) and (max-device-width : 1024px) 
and (-webkit-min-device-pixel-ratio: 2)  { 
/* iPad 3, 4 and Pro 9.7"*/
    [class*="col-"] {
        width: 100%;
    }
    body {
        font-size: 16px;
    }
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 28px;
    }

    p {
        font-size: 16px;
    }
    .hello {
        font-size: 22px;
    }
    .mobile-navbar {
        margin-top: 10px;
        padding-top: 10px;
        display: inline;
        visibility: visible;
    }
    .logo-only-mobile {
        visibility: visible;
        display: inline;
        float: right;
    }
    .logo-only-mobile h2{
        margin-left: 10px;
        font-size: 24px;
        color: black;

    }
    .logo-navbar{
        margin: 10px;
        margin-top: 18px;
        visibility: visible;
        display: inline;
        float: left;
    }
    .container-fluid {
        padding-right: 10px;
        padding-left: 10px;
    }
    .title-bar {
        margin-top: 10px;
        padding-top: 10px;
    }
    .about-project h6 {
        width: 100%;
        font-size: 18px;
    }
    .navbar-fixed-top {
        display: none;
    }
    .person {
        margin-right: 10px;
        margin-top: 20px;
    }
    .window-upper-bar {
        font-size: 16px;
    }

    .scroller, .scroll-down {
        display: none;
    }
    .timeline-window {
        width: 75%;
    }
    .timeline-btn {
        margin: 5px;
    }
    .awesome-team {
        flex-direction: column;
        padding-right: 10px;
        padding-left: 10px;
    }
    .clients {
        padding-left: 10px;
        padding-right: 10px;
    }
    #footer-company {
        padding-right: 10px;
        padding-left: 10px;
    }
    #home {
        padding-top: 10px;
    }
    #our-team-mobile {
        display: none;
    }
    #our-team-desktop {
        display: block;
    }
}

@media only screen 
and (min-device-width : 768px) and (max-device-width : 1024px) 
and (-webkit-min-device-pixel-ratio: 1)  { 
/* iPad Mini*/
    [class*="col-"] {
        width: 100%;
    }
    body {
        font-size: 16px;
    }
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 28px;
    }

    p {
        font-size: 16px;
    }
    .hello {
        font-size: 22px;
    }
    .mobile-navbar {
        margin-top: 10px;
        padding-top: 10px;
        display: inline;
        visibility: visible;
    }
    .logo-only-mobile {
        visibility: visible;
        display: inline;
        float: right;
    }
    .logo-only-mobile h2{
        margin-left: 10px;
        font-size: 24px;
        color: black;

    }
    .logo-navbar{
        margin: 10px;
        margin-top: 18px;
        visibility: visible;
        display: inline;
        float: left;
    }
    .container-fluid {
        padding-right: 10px;
        padding-left: 10px;
    }
    .title-bar {
        margin-top: 10px;
        padding-top: 10px;
    }
    .about-project h6 {
        width: 100%;
        font-size: 18px;
    }
    .navbar-fixed-top {
        display: none;
    }
    .person {
        margin-right: 10px;
        margin-top: 20px;
    }
    .window-upper-bar {
        font-size: 16px;
    }

    .scroller, .scroll-down {
        display: none;
    }
    .timeline-window {
        width: 75%;
    }
    .timeline-btn {
        margin: 5px;
    }
    .awesome-team {
        flex-direction: column;
        padding-right: 10px;
        padding-left: 10px;
    }
    .clients {
        padding-left: 10px;
        padding-right: 10px;
    }
    #footer-company {
        padding-right: 10px;
        padding-left: 10px;
    }
    #home {
        padding-top: 10px;
    }
    #our-team-mobile {
        display: none;
    }
    #our-team-desktop {
        display: block;
    }
}

@media only screen and (min-device-width : 375px) and (max-device-width : 812px) 
and (-webkit-device-pixel-ratio : 3) {
/* iPhone X*/
    [class*="col-"] {
        width: 100%;
    }
    body {
        font-size: 16px;
    }
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 28px;
    }

    p {
        font-size: 16px;
    }
    .hello {
        font-size: 22px;
    }
    .mobile-navbar {
        margin-top: 10px;
        padding-top: 10px;
        display: inline;
        visibility: visible;
    }
    .logo-only-mobile {
        visibility: visible;
        display: inline;
        float: right;
    }
    .logo-only-mobile h2{
        margin-left: 10px;
        font-size: 24px;
        color: black;

    }
    .logo-navbar{
        margin: 10px;
        margin-top: 18px;
        visibility: visible;
        display: inline;
        float: left;
    }
    .container-fluid {
        padding-right: 10px;
        padding-left: 10px;
    }
    .title-bar {
        margin-top: 10px;
        padding-top: 10px;
    }
    .about-project h6 {
        width: 100%;
        font-size: 18px;
    }
    .navbar-fixed-top {
        display: none;
    }
    .person {
        margin-right: 10px;
        margin-top: 20px;
    }
    .window-upper-bar {
        font-size: 16px;
    }

    .scroller, .scroll-down {
        display: none;
    }
    .timeline-window {
        width: 75%;
    }
    .timeline-btn {
        margin: 5px;
    }
    .awesome-team {
        flex-direction: column;
        padding-right: 10px;
        padding-left: 10px;
    }
    .clients {
        padding-left: 10px;
        padding-right: 10px;
    }
    #footer-company {
        padding-right: 10px;
        padding-left: 10px;
    }
    #home {
        padding-top: 10px;
    }
    #our-team-mobile {
        display: block;
    }
    #our-team-desktop {
        display: none;
    }
}

@media only screen and (min-width: 375px) and (max-width: 667px) {
    /* For iPhone 6/7/8 */
    [class*="col-"] {
        width: 100%;
    }
    body {
    	font-size: 16px;
    }
    h1 {
    	font-size: 28px;
    }
    h2 {
    	font-size: 28px;
    }

    p {
    	font-size: 16px;
    }
    .hello {
    	font-size: 22px;
    }
    .mobile-navbar {
    	margin-top: 10px;
    	padding-top: 10px;
    	display: inline;
    	visibility: visible;
    }
    .logo-only-mobile {
    	visibility: visible;
    	display: inline;
    	float: right;
    }
    .logo-only-mobile h2{
    	margin-left: 10px;
    	font-size: 24px;
    	color: black;

    }
    .logo-navbar{
    	margin: 10px;
    	margin-top: 18px;
    	visibility: visible;
    	display: inline;
    	float: left;
    }
    .container-fluid {
    	padding-right: 10px;
    	padding-left: 10px;
    }
    .title-bar {
    	margin-top: 10px;
    	padding-top: 10px;
    }
    .about-project h6 {
    	width: 100%;
    	font-size: 18px;
    }
    .navbar-fixed-top {
    	display: none;
    }
    .person {
    	margin-right: 10px;
    	margin-top: 20px;
    }
    .window-upper-bar {
    	font-size: 16px;
    }
    .window-welcome {
        padding: 40px;
    }
    .scroller, .scroll-down {
    	display: none;
    }
    .timeline-window {
    	width: 75%;
    }
    .timeline-btn {
    	margin: 5px;
    }
    .awesome-team {
    	flex-direction: column;
    	padding-right: 10px;
  		padding-left: 10px;
    }
    .clients {
    	padding-left: 10px;
  		padding-right: 10px;
    }
   	.footer-company {
    	padding-right: 10px;
  		padding-left: 10px;
    }
    .home {
        margin-top: 45px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .about-us {
        padding-left: 10px;
        padding-right: 10px;
    }
    .timeline-box {
        padding-left: 10px;
        padding-right: 10px;
    }
    .popup {
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100vh;
    }
    #our-team-mobile {
        display: block;
    }
    #our-team-desktop {
        display: none;
    }
}

@media only screen and (min-width: 320px) and (max-width : 568px) { 
/* For iPhone 5 and SE*/
    [class*="col-"] {
        width: 100%;
    }
    body {
        font-size: 16px;
    }
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 28px;
    }

    p {
        font-size: 16px;
    }
    .hello {
        font-size: 22px;
    }
    .mobile-navbar {
        margin-top: 10px;
        padding-top: 10px;
        display: inline;
        visibility: visible;
    }
    .logo-only-mobile {
        visibility: visible;
        display: inline;
        float: right;
    }
    .logo-only-mobile h2{
        margin-left: 10px;
        font-size: 24px;
        color: black;

    }
    .logo-navbar{
        margin: 10px;
        margin-top: 18px;
        visibility: visible;
        display: inline;
        float: left;
    }
    .container-fluid {
        padding-top: 0px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .title-bar {
        margin-top: 10px;
        padding-top: 10px;
    }
    .about-project h6 {
        width: 100%;
        font-size: 18px;
    }
    .navbar-fixed-top {
        display: none;
    }
    .person {
        margin-right: 10px;
        margin-top: 20px;
    }
    .window-upper-bar {
        font-size: 16px;
    }
    .window-welcome {
        padding: 15px;
    }
    .scroller, .scroll-down {
        display: none;
    }
    .timeline-window {
        width: 75%;
    }
    .timeline-btn {
        margin: 5px;
    }
    .awesome-team {
        flex-direction: column;
        padding-right: 10px;
        padding-left: 10px;
    }
    .clients {
        padding-left: 10px;
        padding-right: 10px;
    }
    #footer-company {
        padding-right: 10px;
        padding-left: 10px;
    }
    #home {
        padding-top: 10px;
    }
    .timeline-box {
        padding-left: 10px;
        padding-right: 10px;
    }
    .panel-group {
        flex-direction: column;
        margin: 0px;
    }
    #our-team-mobile {
        display: block;
    }
    #our-team-desktop {
        display: none;
    }
    .timeline-window {
        display: row;
        flex-direction: column;
    }
    .wrapper {
    }
    .card {
        flex-direction: column;
    }
}