.window.team-member {
  margin: 5px 10px;

  img {
    width: 100%;
  }

  p {
    padding: 5px;
  }

  a {
    display: flex;
    align-items: center;
    margin: 5px;
    cursor: pointer;

    span {
      margin-left: 1ch;
    }
  }
}
