.contact-bar {
  position: fixed;
  bottom: 1vh;
  right: 1vw;
  -webkit-transform: translateY(-95%);
  -ms-transform: translateY(-95%);
  transform: translateY(-95%);
  z-index: 5;
  width: auto;
  border:2px solid black;
  background: lightgrey;
  box-shadow:2px 2px 0px black, inset 2px 2px 0px #fff;
}
.contact-bar a {
  display: block;
  padding: 5px;
  transition: all 0.3s ease;
}
.contact-bar:hover {
  background: #b7b7b7;
}