.language {
  max-width: 50px;

  &:hover {
    .dropdown {
      display: block;
    }
  }

  .dropdown {
    display: none;
    position: absolute;
    right: 0;
    top: 2.5rem;

    .navlink {
      height: 2.5rem;
      width: 130px;
      justify-content: space-between;
      padding: 0 10px;
      cursor: pointer;
    }
  }
}
