#our-team {
  padding: 50px 0 0;

  & > .window-border {
    & > .window-content {
      background: #fff;
      color: #000;
      padding: 50px;
      display: flex;
      justify-content: space-between;
    }
  }
}
