#contact {
  padding: 50px 0 0;
}

.contactus {
  width: 100%;
}
.social-media {
   float: right;
}
.fb {
  width: 20px;
}
.copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  padding: 15px;
  color: #ededed;
  font-size: 10px;
}
.policy {
  font-size: 10px;
  color: #ededed;
}
.policy:hover {
  color: #fff;
}
